body {
    margin: 0;
    padding: 0;
    background: #e4e8f3 url(fondo-home.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.contenedor{
    margin: 10px auto;
    width: 400px;
    padding: 15px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.contenedor h2{
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.contenedor .elemento label{
    color: #fff;

}

.contenedor .elemento input{
    width: 300px;
    padding: 10px 0;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.contenedor .elemento button[type="submit"]{
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 300px;
}

.nombre-usuario{
    text-transform: uppercase;
}

.contenedor .elemento select{
    width: 300px;
    padding: 10px 0;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.contenedor .boton button[type="submit"]{
    background-color: #000000;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    width: 370px;
}

.contenedor .boton button[type="submit"]:hover{
    background-color: #aaaaaa;
}

.contenedor h4 , h5{
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    text-align: center;
    width: 300px;
}

.opcion{
    color: black;
}

.body2{
    margin: 0;
    padding: 0;
    background: #c8b9b4 url(fondo-encontreMascota.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}