.body-contenido{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.izquierda{
    background: #4d7bb1;
    height: 100vh;
    width: 30%;
}

.derecha {
    background-size: cover;
    background: url("fondo-home.jpg") center;
    width: 70%;
    height: 100vh;
}

#pantalla-dividia{
    display: flex;
}

.creative{
    color: white;
}

.top-creative{
    color: ghostwhite;
}

.h1-contenido {
    font-size: 60px;
    width: 70%;
    margin: 50px auto 40px 80px;
}

.h2-contenido {
    font-size: 20px;
    width: 50%;
    margin: 80px auto 40px 80px;
}

.h3-contenido {
    font-size: 20px;
    width: 50%;
    margin-left: 80px;
}

.p-contenido {
    font-size: 15px;
    line-height: 30px;
    width: 50%;
    margin: auto auto auto 80px;
}

.a-contenido {
    border: 3px solid #ffffff;
    padding: 20px;
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
    display: inline-block;
    margin-top: 30px;
    margin-left: 80px;
    text-decoration: none;
}

.a-contenido:hover{
    text-decoration: none;
    background-color: #000000;
    border-color: #000000;
}

.nav-item .nav-link{
    text-decoration: none;
}

.izquierda-fondo{
    background-size: cover;
    background: url("registro-fondo.jpg") center;
    height: 100vh;
    width: 50%;
}

.derecha-form {
    background: #a57153;
    width: 50%;
    height: 100vh;
}

.contenedor{
    margin: 12px auto;
    width: 450px;
    padding: 15px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    height: 97%;
    font-family: 'Montserrat', sans-serif;
}

.contenedor h2{
    margin: 0 0 0px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.contenedor .elemento label{
    color: #fff;

}

.contenedor .elemento input{
    width: 350px;
    padding: 10px 0;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}

.contenedor .elemento button[type="submit"]{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px;
    width: 350px;
    color: black;
    font-weight: bold;
}

.contenedor .elemento button[type="submit"]:hover{
    background-color: black;
    color: #a47053;
    text-decoration: none
;
}

.nombre-usuario{
    text-transform: uppercase;
}

.contenedor .elemento select{
    width: 350px;
    padding: 10px 0;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    height: auto;
}


.contenedor h4 , h5{
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    text-align: center;
    width: 300px;
}

.opcion{
    color: black;
}

.form-link{
    font-weight: bold;
    color: white;
}

.form-link:hover{
    text-decoration: none;
    color: black;
}

.opcion-asociacion{
    background-color: transparent; /* No me lo toma */
    color: black;
}

/*--------------------------------PANTALLA DE ENCONTRE MASCOTA PERDIDA--------------------------------*/

.izquierda-fondo-2{
    background-size: cover;
    background: url("encontre-mascota-fondo.jpeg") center;
    height: 100vh;
    width: 50%;
}

.formulario-scrolleable{
    overflow-y: scroll;
    height: 75%;
}

.formulario-scrolleable h5{
    margin: 0 0 15px;
    padding: 0;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.a-contenido2{
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid #000000;
    border-radius: 30px;
    cursor: pointer;
    padding: 15px;
    width: 350px;
    color: black;
    font-weight: bold;
}

.a-contenido2:hover{
    background-color: black;
    color: #a47053;
    text-decoration: none;
}

