{{#partial "navBar"}}
    {{>navBarConLogueo.hbs}}
{{/partial}}

{{#partial "contenido"}}
    <body class="body-contenido">
    <section id="pantalla-dividia">
        <div class="izquierda-fondo-2"></div>
        <div class="derecha-form">
            <div class="contenedor">
                <h2>¿TIENE CHAPITA?</h2><br>
                <div style="text-align: center; margin-top: 5px; margin-bottom: 5px">
                    <link>
                    <a class="a-contenido2" href="">ESCANEAR CÓDIGO QR</a><br>
                    </link>
                </div><br>
                <h2>COMPLETE EL FORMULARIO</h2><br>
                <form action="/miPerfil/encuentroDeMascota" method="POST">
                    <div class="formulario-scrolleable" style="height: 65%">
                        <div class="form-group col-lg-6">
                            <h5>DATOS DE LA MASCOTA</h5>
                            <div class="elemento">
                                <label for="tipoMascota">Tipo de la Mascota</label>
                                <select name="tipoMascota" id="tipoMascota" class="form-control">
                                    <option class="opcion" value="GATO">GATO</option>
                                    <option class="opcion" value="PERRO">PERRO</option>
                                </select>
                            </div>

                            <div class="elemento">
                                <label for="tamanioMascota">Tamaño de la Mascota</label>
                                <select name="tamanioMascota" id="tamanioMascota" class="form-control">
                                    <option class="opcion" value="PEQUENIO">PEQUEÑO</option>
                                    <option class="opcion" value="MEDIANO">MEDIANO</option>
                                    <option class="opcion" value="GRANDE">GRANDE</option>
                                </select>
                            </div>
                            <br>

                            <h5>DATOS DEL ENCUENTRO</h5>
                            <div class="elemento">
                                <label for="fechaEncuentro">Fecha de Encuentro</label>
                                <input type="date" id="fechaEncuentro" name="fechaEncuentro" placeholder="Fecha de Encuentro" class="form-control" required>
                            </div>

                            <div class="elemento">
                                <label for="descripcionEncuentro">Descripcion del Encuentro</label>
                                <input type="text" id="descripcionEncuentro" name="descripcionEncuentro" placeholder="Cuentanos como fue su encuentro..." class="form-control">
                            </div>
                            <br>

                            <h5>TUS DATOS</h5>
                            <div class="elemento">
                                <label for="direccion">DIRECCIÓN</label>
                                <input type="direccion" id="direccion" name="direccion" placeholder="Direccion" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </form>
                <br>
                <div class="elemento" style="text-align: center">
                    <button type="submit" id="button">ENVIAR</button><br>
                </div>
            </div>
        </div>
    </section>
    </body>
{{/partial}}

{{>layout.hbs}}