<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
        <!-- Nuestro CSS -->
        <link rel="stylesheet" type="text/css" href="encontreMascota.css">


    </head>

    <style>

        .container {
            margin-top: 200px
        }

        .btn {
            display: inline-block;
            margin-right: 20px;
            letter-spacing: 2px;
            border: 1px solid transparent
        }

        .btn-round {
            border-radius: 4px !important
        }

        .btn i {
            margin-right: 5px
        }

        .btn.btn-large i {
            font-size: 24px
        }

        .button {
            margin-top: 0;
            margin-bottom: 0
        }

        .btn.btn-large {
            font-size: 18px;
            padding: 18px 35px;
            width: 300px;
        }

        .btn.btn-medium {
            font-size: 14px;
            padding: 10px 22px
        }

        .btn.btn-small {
            font-size: 11px;
            padding: 2px 14px;
            letter-spacing: 1px
        }

        .btn.btn-very-small {
            font-size: 9px;
            padding: 1px 12px;
            letter-spacing: 1px
        }

        .highlight-button {
            border: 2px solid #000;
            display: inline-block;
            padding: 8px 20px 9px;
            font-size: 12px;
            color: #000;
            background-color: rgba(247,236,205,.7);
        }

        .highlight-button:hover {
            background-color: #000;
            border: 2px solid #000;
            color: #fff
        }

        .highlight-button i {
            color: #000
        }

        .highlight-button:hover i {
            color: #fff
        }

    </style>

    <body>
        <div class="contenedor">
            <section class="button-style">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 center-col text-center">
                            <a  href="" class="highlight-button btn btn-large button xs-margin-bottom-five" data-abc="true"><i class="fa fa-comment"></i>TIENE CHAPITA</a> <br><br>
                            <a  href="/formularioSinChapita" class="highlight-button btn btn-large button xs-margin-bottom-five" data-abc="true"><i class="fa fa-comment"></i>NO TIENE CHAPITA</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>

</html>

