<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Registrar Usuario</title>

        <!--Nuestro CSS -->
        <link rel="stylesheet" type="text/css" href="main.css">

    </head>

    <body class="body2">
        <div class="contenedor">
            <h2>COMPLETE EL FORMULARIO</h2>  <br>  <br>
            <form action="/formularioSinChapitaLogueado" method="POST">
                <div>
                    <div class="form-group col-lg-6">

                        <h5>DATOS DE LA MASCOTA</h5>

                        <div class="elemento">
                            <label for="tipoMascota">Tipo de la Mascota</label>
                            <select name="tipoMascota" id="tipoMascota" class="form-control">
                                <option class="opcion" value="GATO">GATO</option>
                                <option class="opcion" value="PERRO">PERRO</option>
                            </select>
                        </div>

                        <div class="elemento">
                            <label for="tamanioMascota">Tamaño de la Mascota</label>
                            <select name="tamanioMascota" id="tamanioMascota" class="form-control">
                                <option class="opcion" value="PEQUENIO">PEQUEÑO</option>
                                <option class="opcion" value="MEDIANO">MEDIANO</option>
                                <option class="opcion" value="GRANDE">GRANDE</option>
                            </select>
                        </div>

                        <br>

                        <h5>DATOS DEL ENCUENTRO</h5>

                        <div class="elemento">
                            <label for="fechaEncuentro">Fecha de Encuentro</label>
                            <input type="date" id="fechaEncuentro" name="fechaEncuentro" placeholder="Fecha de Encuentro" class="form-control" required>
                        </div>

                        <div class="elemento">
                            <label for="descripcionEncuentro">Descripcion del Encuentro</label>
                            <input type="text" id="descripcionEncuentro" name="descripcionEncuentro" placeholder="Cuentanos como fue su encuentro..." class="form-control">
                        </div>

                        <br>

                        <h5>TUS DATOS</h5>

                        <div class="elemento">
                            <label for="direccion">Direccion</label>
                            <input type="direccion" id="direccion" name="v" placeholder="Direccion" class="form-control" required>
                        </div>

                        <div class="elemento">
                            <button type="submit" id="button" class="btn btn-primary col-lg-6">Enviar</button> <br> <br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>