{{#partial "navBar"}}
    {{>navBarConLogueo.hbs}}
{{/partial}}

{{#partial "contenido"}}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Hola {{nombre}}</h1>
            <p class="lead">Nos alegramos de encontrarte de nuevo por aquí</p>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}

