{{#partial "titulo"}}
    Mi perfil
{{/partial}}

{{#partial "navBar"}}
    {{>navBarConLogueo.hbs}}
{{/partial}}

{{#partial "contenido"}}
    <body class="body-contenido">
    <section id="pantalla-dividia">
        <div class="izquierda">
            <h2 class="h2-contenido"><span class="top-creative">BIENVENIDOS A</span></h2>
            <h1 class="h1-contenido"><span class="creative">RESCATE DE</span>
                PATITAS
            </h1>
            <h3 class="h3-contenido"><span class="top-creative">QUIENES SOMOS</span></h3>
            <p class="p-contenido">RESCATE DE PATITAS ES UNA FUNDACIÓN SIN FINES DE LUCRO CUYO OBJETIVO ES LOCALIZAR Y BRINDAR UNA SEGUNDA OPORTUNIDAD A LOS ANIMALES SIN HOGAR</p> <br>
            <h3 class="h3-contenido"><span class="top-creative">NAVEGA POR EL SITIO</span></h3>
            <div class="link">
                <a class="a-contenido" href="/ingreso/registroDeMascota">QUIERO REGISTRAR A MI MASCOTA</a> <br>
                <a class="a-contenido" href="/miPerfil/encuentroDeMascota">ENCONTRE UNA MASCOTA PERDIDA </a> <br>
            </div>
        </div>
        <div class="derecha"></div>
    </section>
    </body>
{{/partial}}

{{>layout.hbs}}
