<html>
    <head>
         {{#block "headers"}}
         {{/block}}
    </head>
    <body>
        <header>
                {{#block "navBar"}}
                {{/block}}
        </header>

        {{#block "contenido"}}
        {{/block}}

        <footer class="footer">
            <br>
            <p class="text-center">
              &copy; 2021 rescatedepatitas.com
            </p>
        </footer>
    </body>
</html>