<html>
<head>
     {{#block "headers"}}
     {{/block}}
</head>

<body>

{{#block "navBar"}}
{{/block}}

<div class="container">
	{{#block "contenido"}}
	{{/block}}
</div>

<footer class="footer">
    <br>
    <p class="text-center">
      &copy; 2021 rescatedepatitas.com
    </p>
</footer>

</body>

</html>