<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom" style="margin-bottom: 0">
    <a class="navbar-brand" href="/" style="margin-bottom: 10px">
        <img class="nav-logo" src="logo-home.png" width="35" height="35">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <br><br><br>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/registrarMascota">REGISTRAR MASCOTA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/encontreUnaMascota">ENCONTRE UNA MASCOTA PERDIDA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nombre-usuario">{{ usuario }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cerrarSesion">SALIR</a>
            </li>
        </ul>
    </div>
</nav>