<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">RESCATE DE PATITAS</a>
                </div>

                <nav class="navbar navbar-default">
                           <div class="container-fluid">
                               <div class="navbar-header">
                                   <a class="navbar-brand" href="/">RESCATE DE PATITAS</a>
                               </div>

                               <ul class="nav navbar-nav">
                                   <li><a href="/ingresarParaRegistrarMascota">REGISTRAR MASCOTA</a></li>
                                   <li><a href="">ENCONTRE UNA MASCOTA PERDIDA</a></li>
                                   <li><a href="/registrarme">REGISTRARME</a></li>
                                   <li><a href="/ingresar">LOGUEARME</a></li>
                               </ul>

                           </div>
               </nav>

            </div>
        </nav>
