<html>
    <head>

        <!-- (A) LOAD QRCODEJS LIBRARY -->
        <!-- https://cdnjs.com/libraries/qrcodejs -->
        <!-- https://github.com/davidshimjs/qrcodejs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

        <!-- CREATE QR CODE ON PAGE LOAD -->
        <script>
            window.addEventListener("load", function(){
                // (1) CREATE QR
                var qrc = new QRCode(document.getElementById("qrcode"), {
                    text: "localhost:9000/mascotas/{{id}}",
                    width: 100,
                    height: 100,
                });

                // (2) PRINT
                document.getElementById("qrprint").addEventListener("click", function(){
                    var printwin = window.open("");
                    printwin.document.write(document.getElementById("printable").innerHTML);
                    printwin.stop();
                    let qr = printwin.document.querySelector("#qrcode img");
                    qr.addEventListener("load", function(){
                        printwin.print();
                        printwin.close();
                    });
                });
            });
        </script>


    </head>




    <body>

    <!-- QR CODE HERE -->
    <div id="printable">
        <div id="qrcode"></div>
    </div>
    <button id="qrprint">IMPRIMIR</button>

    </body>

</html>