{{#partial "navBar"}}
    {{>navBarSinLogueo.hbs}}
{{/partial}}

{{#partial "contenido"}}
    <body class="body-contenido">
        <section id="pantalla-dividia">
            <div class="izquierda-fondo"></div>
            <div class="derecha-form">
                <div class="contenedor">
                    <h2>UNETE A NOSOTROS</h2> <br>
                    <div class = "elemento">{{message}}</div>
                    <form action="/registroDeUsuario" method="POST">
                        <div>
                            <div class="form-group col-lg-6">
                                <div class="elemento">
                                    <label for="nombreUsuario">Nombre de Usuario</label>
                                    <input type="text" id="nombreUsuario" name="nombreUsuario" placeholder="Nombre de Usuario" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="contraseña">Contraseña</label>
                                    <input type="password" id="contraseña" name="contrasenia" placeholder="Contraseña" class="form-control" minlength = "8">
                                </div>

                                <!-- <label for="confirmarContraseña">Confirmar Contraseña</label>
                                 <input type="password" id="confirmarContraseña" name="confirmarContraseña" placeholder="Contraseña" class="form-control" required> -->

                                <div class="elemento">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="apellido">Apellido</label>
                                    <input type="text" id="apellido" name="apellido" placeholder="Apellido" class="form-control" required>
                                </div>



                                <div class="elemento">
                                    <label for="rol">Rol</label>
                                    <select name="rol" id="rol" class="form-control">
                                        <option class="opcion" value="DUENIO">Dueño</option>
                                    </select>
                                </div>

                                <div class="elemento">
                                    <label for="fechaNacimiento">Fecha de Nacimiento</label>
                                    <input type="date" id="fechaNacimiento" name="fechaNacimiento" min="1950-01-01" max="{{fechaActual}}" placeholder="Fecha de Nacimiento" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="tipoDocumento">Tipo de Documento</label>
                                    <select name="tipoDocumento" id="tipoDocumento" class="form-control">
                                        <option class="opcion" value="DNI">DNI</option>
                                    </select>
                                </div>

                                <div class="elemento">
                                    <label for="numeroDocumento">Número de Documento</label>
                                    <input type="number" id="numeroDocumento" name="numeroDocumento" placeholder="Número de Documento" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="telefono">Teléfono</label>
                                    <input type="number" id="telefono" name="telefono" placeholder="Teléfono" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="email">Dirección de Email</label>
                                    <input type="email" id="email" name="email" aria-describedby="emailHelp" placeholder="Email" class="form-control" required>
                                </div>

                                <div class="elemento">
                                    <label for="asociaciones">Elija la asociacion</label>
                                    <select name="asociaciones" id="asociaciones">
                                        {{#each asociaciones}}
                                        <option class="opcion-asociacion">{{nombreAsociacion}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="elemento">
                                    <button type="submit" id="button">REGISTRARSE</button><br>
                                </div>
                                <br>
                                <div>
                                    <link><a href="/ingreso" class="form-link">¿Ya tenés un usuario?</a></link>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
{{/partial}}

{{>layout.hbs}}

