<!doctype html>

<html lang="en">

  {{>headers.hbs}}

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div class="card text-center">
  <div class="card-header">
    Registrar Mascota
  </div>
  <div class="card-body">
    <h5 class="card-title">¿Ya te registraste?</h5>
    <p class="card-text">Para registrar una mascota se necesita de un usuario. ¿Tenes usuario?</p>
    <a href="meGustariaRegistrarme" class="btn btn-primary">No, me gustaría registrarme</a>
    <a href="usuarioYaExistente" class="btn btn-primary">Sí, ya tengo un usuario</a>
  </div>

</div>

 </body>

</html>